@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #163020;
  --secondary-color: #304D30;
  --main-color: #FCE09B;
  --sub-color: #D6CC99;
  --text-color: #1B1C1C;
  --fade-color: #666;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--text-color);
}

img {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.product-image-slider .swiper-slide:not(.swiper-slide-thumb-active) {
  opacity: 0.3;
}