@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #163020;
  --secondary-color: #304D30;
  --main-color: #FCE09B;
  --sub-color: #D6CC99;
}

body {
  font-family: 'Noto Sans', sans-serif;
}