@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-color: #212B36;
  --primary-color: #00A76F;
  --secondary-color: #8e33ff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  color: var(--default-color)
}